.container {
  position: relative;
  color: black;
  width: 100%;
  height: fit-content;
}

.centered {
  position: absolute;
  top: 50%;
  left: 30%;
  color: black;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 480px) {left: 37%;}
}


.flex-container div.card-case-study {
  border: none;
  width: 49%;
  @media screen and (max-width: 480px) {width: 100%; margin-bottom: 1.45rem;}
}

.card-img-case-study {
  background: transparent;
  width: 100%;
  height: fit-content;
}

.case-study-scroll-btn {
  position: absolute;
  top: 95%;
  left: 90%;
  @media screen and (max-width: 480px) {left: 38%;}
}