.long-text {
  width: 100%;
}

.submit-btn {
  background-color: transparent;
  border-color: transparent;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .large-text-box {
    width: 100%;
  }
  .small-text-box {
    width: 43%;
  }
}