.slider-container {
  max-width: 80%;
  margin-left: auto;
}
.card {
  padding: 0 10px;
  background: transparent;
  width: 250px;
  height: 100%;
}

.img {
  max-width: 100%;
  width: fit-content;
  height: fit-content;
}

.big-slider-container {
  max-width: 100%;
  margin-left: auto;
}

.big-card {
  padding: 0 10px;
  background: transparent;
  width: 250px;
  height: 100%;
}

.flex-container-slider {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  // div.card-careers {
  //   border: none;
  //   width: 32%;
  //   height: fit-content;
  // }
}
